<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Compre Melhor">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Home - Compre Melhor</title>

	<link rel="stylesheet" href="../resources/css/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/bootstrap-theme.css">

	<link rel="stylesheet" href="estilo.css">
	
	<script type="text/javascript" src="../resources/js/bootstrap.js"></script>


</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 bloco1">
				<h1>Corpo</h1>
				<p><small>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit.</strong> Molestiae ullam itaque repudiandae blanditiis <em>necessitatibus </em>voluptatum, fugit quasi quia temporibus nostrum non iusto voluptates amet cum error eos nulla ad illo?</small></p>

				<p class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ullam itaque repudiandae blanditiis necessitatibus voluptatum, fugit quasi quia temporibus nostrum non iusto voluptates amet cum error eos nulla ad illo?</p>

				<p>Lorem ipsum dolor sit <b>amet, consectetur</b> adipisicing elit. Molestiae ullam itaque repudiandae blanditiis necessitatibus <i>voluptatum,</i> fugit quasi quia temporibus nostrum non <strong>iusto voluptates</strong> <em>amet cum</em> error eos nulla ad illo?</p>

				<p class="muted">frase com enfase</p>
				<p class="text-warning">frase com enfase</p>
				<p class="text-error">frase com enfase</p>
				<p class="text-info">frase com enfase</p>
				<p class="text-success">frase com enfase</p>

				<abbr title="Atributo" class="initialism"> attr</abbr>
			</div>
			<div class="col-md-4 bloco2">
				<h1>Barra Lateral</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod aliquid sed possimus eos omnis enim cumque adipisci suscipit cum aspernatur laudantium qui minima quidem nam, natus doloremque optio ipsam.</p>
			</div>
		</div>		
	</div>

	<div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
	</div>

	<div class="row">
	  <div class="col-xs-9 bloco1">.col-xs-9</div>
	  <div class="col-xs-4 bloco2">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
	  <div class="col-xs-6 bloco1">.col-xs-6<br>Subsequent columns continue along the new line.</div>
	</div>

</body>
</html>